
  body{
   background-color: beige;
  }

  #nav1{
    border:none;
    /*background-color: #162447;*/

  }

  #ic1{
    color: #ffd31d;
    margin-left: 40px !important;
  }

  #li1{
    margin-left: 50px;
  }

  .card{
    margin: 20px !important;

  }

  .oswald{
    font-family: oswald;
  }

  .perm-marker{
    font-family: 'Permanent Marker', cursive;
  }

  #cd-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;


  }


  .img-container{
    position: relative;

    transition: all 1s linear;
      overflow: hidden;


  }

  .btn-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #1f4068;
    color: snow;
    margin-right: 20px;


    border-radius:0.5rem 0 0 0;
      transform: translate(100%,100%);
      transition: all 1s linear;



  }


  .img-container:hover .btn-cart{
      transform: translate(0,0);





  }

  .img-container:hover{
   transform: scale(1.1);

  }

  #cart-ic{
    margin: 5px;

  }


  /* modal styling */

  .outer-container{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;

  }



